.editor {
    display: flex;
    flex-direction: row;
}

.react-flow {
    background-color: #F2F2F2;
}

.react-flow__pane {
    cursor: default;
}

.react-flow__controls-button {
    display: inline;
}

.react-flow__controls svg {
    height: 100%;
}