.editor {
    display: flex;
    flex-direction: row;
}

.react-flow {
    background-color: #F2F2F2;
}

.react-flow__pane {
    cursor: default;
}

.react-flow__controls-button {
    display: inline;
}

.react-flow__controls svg {
    height: 100%;
}

.react-flow__handle {
    width: 0.5rem;
    height: 0.5rem;
}

.node {
    box-sizing: content-box;
    height: 2.5rem;
    width: 11rem;
    padding: 10px;
    font-size: 0.8rem;
    cursor: grab;
}

.node.component {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.node.comment {
    border: 2px solid;
    border-image: linear-gradient(to right, grey 10%, transparent 10%) 10% 1;
    display: flex;
    align-items: center;
}

.component-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

dialog {
    cursor: default;
}

button {
    cursor: pointer;
}

.panel-button {
    background-color: #fefefe;
    padding: 0.5rem 1rem;
    border: solid #eee;
}