.icon-button {
    cursor: pointer;
    margin: 0.1rem;
    padding: 0.2rem 0.3rem;
    background-color: #fefefe;
    border: 2px solid #eee;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-height: 2.2rem;
    max-width: fit-content;
}

.icon-button:hover {
    background-color: #fafafa;
}

.icon-button:hover svg {
    fill: var(--blue-primary);
}